<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta name="description" content="Stop in and see what's Fresh! Cash Wise Foods offers great food, great service and more.">
<meta name="author" content="Coborn's, Inc.">
<meta name="google-site-verification" content="LIOTuW0ad_Rr3F7WNMMoR6h2gzLl4THALei3m8pvIO0" />
<meta name="google-site-verification" content="0Bp0hgY86aPlFR_kVjJuBuM53cI66PIx_zyfIMKEiZk" />
<title>Cash Wise Foods | More than a Great Deal!</title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/asset/129/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/asset/129/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/asset/129/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/asset/129/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/asset/129/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/asset/129/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/asset/129/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/asset/129/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/asset/129/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/asset/129/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/asset/129/favicon/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/asset/129/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/asset/129/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/asset/129/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/asset/129/favicon/manifest.json">
<link rel="mask-icon" href="/asset/129/favicon/safari-pinned-tab.svg" color="#ba0c2f">
<meta name="apple-mobile-web-app-title" content="Cashwise.com">
<meta name="application-name" content="Cashwise.com">
<meta name="msapplication-TileColor" content="#ba0c2f">
<meta name="msapplication-TileImage" content="/asset/129/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ba0c2f">

<!-- do not delete these include statements -->
<!--include:head-content-->
<!--include:head-content2-->
<script>
window.isPrerender = /Prerender/.test( window.navigator.userAgent );

if (!window.isPrerender) {
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  var script = document.createElement('script');
  script.src = 'https://www.googletagmanager.com/gtm.js?id=GTM-PD8GN6';
  document.getElementsByTagName('head')[0].appendChild(script);
}
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1004934876277883');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1004934876277883&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Google DFP -->
<script>
if (!window.isPrerender) {
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
   (function() {
      var gads = document.createElement("script");
      gads.async = true;
      gads.type = "text/javascript";
      var useSSL = "https:" == document.location.protocol;
      gads.src = (useSSL ? "https:" : "http:") +
      "//www.googletagservices.com/tag/js/gpt.js";
      var node = document.getElementsByTagName("script")[0];
      node.parentNode.insertBefore(gads, node);
    })();
}
</script>
<script>
if (!window.isPrerender) {
  googletag.cmd.push(function() {
    //googletag.defineSlot('/94606675/CashWise-CircularMOBILE', [320, 50], 'div-gpt-ad-1501264488980-0').addService(googletag.pubads());
    var slot1 = googletag.defineSlot('/94606675/CashWise-CircularSidebar', [[320, 50], [300, 600], [300, 250]], 'div-gpt-ad-1531359547370-0').setTargeting('refresh').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
	googletag.display('div-gpt-ad-1531359547370-0');
	setInterval(function(){googletag.pubads().refresh([slot1]);}, 30000);
  });
}
</script>
<!-- End Google DFP -->

<!-- Bootstrap Core CSS -->
<link href="/asset/129/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="http://marcoceppi.github.io/bootstrap-glyphicons/css/bootstrap.icon-large.min.css" rel="stylesheet">-->

<!---icons -->
<link href="https://glyphsearch.com/bower_components/ionicons/css/ionicons.css" rel="stylesheet">
<link href="/asset/129/css/ionicons.css" rel="stylesheet">
<link href="/asset/129/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/v4-shims.css">

<!----Megamenu----------->
<link rel="stylesheet" type="text/css" href="/asset/129/assets/css/et-line.css" />
<link rel="stylesheet" type="text/css" href="/asset/129/assets/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/asset/129/assets/css/mdf_megamenu.css?nocache=1" />

<!-- Custom CSS -->
<link href="/asset/129/css/CWstyle.css?nocache=1" rel="stylesheet">
<!-- <link href="/asset/129/css/Cobstyle.css?nocache=1" rel="stylesheet"> -->
<link href="/asset/129/css/Cob-customicons.css?nocache=1" rel="stylesheet">

<!-- Lightbox -->
<link href="/asset/129/css/blueimp-gallery.min.css" rel="stylesheet">
<link href="/asset/129/css/bootstrap-image-gallery.css" rel="stylesheet">

<!-- Custom Fonts -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600,600italic' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

 <link href="/asset/129/css/brick.css?nocache=1" rel="stylesheet" type="text/css">
   <!--[if lt IE 10]>
    <script src="https://cdn-stg.brickinc.net/script/lib/proxy/xdomain.min.js?nocache=1" data-slave="https://cdn-stg.brickinc.net/script/lib/proxy/proxy.html?nocache=1"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
  <![endif]-->
  <!--endhead-->

  <!-- Loyalty -->
  <!-- Note: this is causing IE8 to crash, temporary comment out to debug in IE8
<script src="https://shopper.birdzi.com/shopper_Coborns_003604/js/app_js/shopper.js"></script>-->
<!-- end -->

</head>

<body id="page-top" class="index">
<!-- Navigation )ri -->
<nav class="navbar navbar-default navbar-fixed-top nonbounce">

  <nav id="mdf_menu" class="navbar navbar-default" style="border: 0px;">
     <div class="container">
         <div class="navbar-header">
           <button style="margin-top: 15px; margin-bottom:0px;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
             </button>
          <!-----------------------Logo------------------------>
            <div class="CWlogo"><a class="navbar-brand page-scroll" href="/"><img src="https://upload.brickinc.net/chainfiles/129/creative/201607/636041833828681035-cwlogo_bigger1_071516a.png" class="img-responsive" alt="Cash Wise"></a></div>
            <!-----------------------end------------------------>
         </div>
         <div id="navbar" class="collapse navbar-collapse">

            <!-----------------------Start Main  Menu------------------------>
            <ul class="nav navbar-nav" style="margin: 7px 0px -9px -24px;">
        <!---------------------Deals------------------------>
                <li class="menu-el"><a><!--<i class="glyphicon glyphicon-list-alt"></i>-->Deals</a>
          <ul class="mdf_child_menu dropdown" data-width="200px" style="display: block; width: 300px;">
            <li><a href="/circular"><i class="fa fa-file-text-o"></i>
 weekly ads</a></li>
 <li><a href="https://www.morerewards.com/" target="_blank"><i class="fa fa-usd"></i>

 more rewards</a></li>
                        <li><a href="https://morerewards.app.link/?loc-key=BZIALERT11&BirdziShopper=%7B%22Launch%22:%22MyOffers%22%7D"><i class="fas fa-unlock"></i>
 MORE rebates</a></li>
            
                        <li><a href="/registration"><i class="fa fa-envelope"></i>

 sign up for email deals</a></li>
 <!-- <li><a href="/more-ways-to-save"><i class="fa fa-money"></i>

 more ways to save</a></li> -->
 
          </ul>

        </li>

                <!-----------------------end Deals------------------------>

                <!-----------------------Order Online------------------------>
        <li class="menu-el">
          <a>Order Online</a>
          <ul class="mdf_child_menu dropdown" data-width="200px" style="display: block; width: 300px;">
<li><a href="JavaScript:void(0);" target="_self"><i class="fa fa-truck"></i>
 Delivery <i class="fa fa-caret-right" aria-hidden="true"></i>
</a>
 <ul class="mdf_child_menu sub-0" style="left: 200px; top: 0px; display: block;">
<li class="submenuR"><a href="https://www.cashwisedelivers.com/loginMessage?facilityId=503" target="_blank">Bismarck, ND</a></li>
 <li class="submenuR"><a href="https://www.cashwisedelivers.com/loginMessage?facilityId=501" target="_blank">Fargo Metro</a></li>
 <li class="submenuR"><a href="https://www.cashwisedelivers.com/loginMessage?facilityId=502" target="_blank">Owatonna/Waseca, MN</a></li>

 </ul>
 </li>
 <li><a href="JavaScript:void(0);"><i class="fa fa-cart-arrow-down"></i>


 Pick Up <i class="fa fa-caret-right" aria-hidden="true"></i>
</a>
 <ul class="mdf_child_menu sub-0" style="left: 200px; top: 0px; display: block;">
 <li class="submenuR"><a href="https://www.cashwisedelivers.com/loginMessage?facilityId=503" target="_blank">Bismarck, ND</a></li>
   <li class="submenuR"><a href="https://www.cashwisedelivers.com/loginMessage?facilityId=501" target="_blank">Fargo Metro</a></li>
  <li class="submenuR"><a href="https://www.cashwisedelivers.com/loginMessage?facilityId=502" target="_blank">Owatonna, MN</a></li>
 </ul>
 </li>
<!-- <li><a href="http://www.cashwisedelivers.com" target="_blank"><i class="fa fa-truck"></i>
 cashwisedelivers.com</a></li> -->

 <!-- <li><a href="http://www.expresswashclub.com/" target="_blank"><i class="icon ion-waterdrop"></i> express car wash club</a></li> -->

 <li><a href="http://www.floral.cashwise.com/" target="_blank"><i class="icon ion-ios-rose"></i> floral</a></li>

 <li><a href="/gift-cards"><i class="fa fa-gift"></i> gift cards</a></li>


                <!-- <li><a href="http://cashwise.lifepics.com/" target="_blank"><i class="fa fa-camera"></i>
 photo</a></li> -->
 <li><a href="//files.coborns.com/pharmacy/OnlinePrescriptions.html" target="_blank"><i class="fa fa-plus-square"></i>
 prescriptions</a></li>


          </ul>
        </li>
                <!-----------------------end------------------------>

                <!-----------------------Departments------------------------>
          <li class="menu-el"><a>Departments</a>
          <div class="mdf_sub_wrap mdf_flip row lists">
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">
                <li><a href="/baby"><i class="fa fa-child fa-lg"></i> baby</a></li>
                <li><a href="/bakery"><i class="fa fa-birthday-cake"></i> bakery</a></li>
 				<li><a href="/bulk-foods"><i class="icon ion-ios-keypad"></i> bulk foods</a></li>
 				<li><a href="/catering"><i class="icon ion-android-restaurant"></i> catering</a></li>
                <li><a href="/coffee-shops"><i class="fa fa-coffee"></i> coffee shops</a></li>
                <li><a href="/convenience-stores"><i class="fa fa-car"></i> convenience stores</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">
               	<li><a href="/dairy"><i class="ionicons ion-egg"></i> dairy</a></li>
                <li><a href="/deli"><i class="icon ion-pizza"></i> deli</a></li>
                <li><a href="/dry-cleaning"><i class="icon ion-tshirt"></i> dry cleaning</a></li>
                <li><a href="/floral"><i class="icon ion-ios-flower"></i> floral</a></li>
                <li><a href="/frozen"><i class="icon ion-icecream"></i> frozen</a></li>
                <li><a href="/general-merchandise"><i class="fa fa-lightbulb-o"></i> general merchandise</a></li>

                </ul>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">
				<li><a href="/grocery"><i class="ionicons ion-soup-can-outline"></i> grocery</a></li>
               	<li><a href="/guest-services"><i class="fa fa-users"></i> guest services</a></li>
           		<li><a href="/liquor"><i class="icon ion-beer"></i> liquor</a></li>
				<li><a href="/meat-and-seafood"><i class="fa fa-cutlery"></i> meat and seafood</a></li>
				<li><a href="/natural-foods"><i class="fa fa-leaf"></i> natural foods</a></li>
                <li><a href="/personal-care"><i class="fa fa-female"></i> personal care</a></li>
				</ul>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">

               <li><a href="/pets"><i class="fa fa-paw"></i> pets</a></li>
                <li><a href="/pharmacy"><i class="fa fa-medkit"></i> pharmacy</a></li>
                <!-- <li><a href="/photo"><i class="fa fa-camera"></i> photo</a></li> -->
				<li><a href="/produce"><i class="fa fa-lemon-o"></i> produce</a></li>
				<!-- <li><a href="/video"><i class="fa fa-video-camera"></i> video</a></li> -->
              </ul>
            </div>
          </div>
        </li>
                <!-----------------------end ------------------------>
                <!-----------------------Food & Recipes------------------------>

        <li class="menu-el">
          <a>Food &amp; Recipes</a>
          <ul class="mdf_child_menu dropdown" data-width="200px" style="display: block; width: 300px;">


<!-- <li><a href="/all-american-summer"><i class="icon ion-star" style="font-size:14pt;"></i> all american summer</a></li> -->

<!-- <li><a href="http://celebratemore.net" target="_blank"><i class="fa fa-spoon"></i> celebrate more</a></li> -->
<!-- <li><a href="/signature"><i class="icon ion-ribbon-b" style="font-size:14pt;"></i> cash wise signature</a></li> -->
<li><a href="/mealsolutions"><i class="fa fa-cutlery"></i> meal solutions</a></li>
<li><a href="/chickenshack"><i class="fa fa-location-arrow"></i> chicken shack</a></li>
<li><a href="http://celebratemore.com" target="_blank"><i class="fas fa-hashtag"></i> celebrateMORE.com</a></li>
<!-- <li><a href="http://cashwisefoodsblog.com/category/weekly-meal-planning/" target="_blank"><i class="icon ion-ios-paper-outline" style="font-size:14pt;"></i> weekly meal planning</a></li> -->




          </ul>
        </li>
                <!-----------------------end------------------------>

                <!-----------------------Health & Nutrition------------------------>
        <li class="menu-el">
          <a>Health &amp; Nutrition</a>
          <ul class="mdf_child_menu dropdown" data-width="200px" style="display: block; width: 300px;">


                         <li><a href="/dietitians-corner"><i class="icon ion-ios-pulse-strong"></i> dietitians corner</a></li>
                         <li><a href="/food-safety"><i class="icon ion-thermometer" style="margin-right:12pt;"></i> food safety</a></li>
                         <li><a href="/gluten-free"><i class="icon ion-asterisk"></i> gluten free</a></li>
                         <li><a href="/nutrition-facts"><i class="fa fa-list-alt"></i> nutrition facts</a></li>

                         <li><a href="/pharmacy"><i class="fa fa-medkit"></i> pharmacy</a></li>

             </ul>
        </li>

                <!-----------------------end ------------------------>

                <!-----------------------Locations------------------------>
        <li class="menu-el">
          <a>Locations</a>
          <div class="mdf_sub_wrap mdf_flip row lists">


            <!-- Store locations col 1 -->
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">
              <div class="cl-title">
                <div align="left"><span style="height:1px;color: #FFF;font-weight: bold;">Minnesota </span></div>
              </div>
              <li><a href="/CWstore3011"><span class="glyphicon glyphicon-map-marker"></span> Hutchinson, MN</a></li>
               <li><a  href="/CWstore3015"><span class="glyphicon glyphicon-map-marker"></span> Moorhead, MN</a></li>
               <li><a href="/CWstore3013"><span class="glyphicon glyphicon-map-marker"></span> New Ulm, MN</a></li>
                      <li><a href="/CWstore3014"><span class="glyphicon glyphicon-map-marker"></span> Owatonna, MN</a></li>
				<li><a href="/CWstore3041"><span class="glyphicon glyphicon-map-marker"></span> St. Cloud - East, MN</a></li>

                <li><a href="/CWstore3009"><span class="glyphicon glyphicon-map-marker"></span> Waite Park, MN</a></li>
                 <li><a href="/CWstore3054"><span class="glyphicon glyphicon-map-marker"></span> Waseca, MN</a></li>
                 <li><a href="/CWstore3004"><span class="glyphicon glyphicon-map-marker"></span> Willmar, MN</a></li>
                
              </ul>
            </div>
            <!-- Store locations col 1 ends -->
            <!-- Store locations col 2 -->
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">
		
        <div class="cl-title">
                <div align="left"><span style="height:1px;color: #FFF;font-weight: bold;">North Dakota </span></div>
              </div>
             <li><a href="/CWstore3020"><span class="glyphicon glyphicon-map-marker"></span> Bismarck, ND</a></li>
             <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-map-marker"></span> Bismarck, ND - North (Coming Soon)</a></li>
                <li><a href="/CWstore3044"><span class="glyphicon glyphicon-map-marker"></span> Dickinson, ND</a></li>
                <li><a href="/CWstore3012"><span class="glyphicon glyphicon-map-marker"></span> Fargo, ND</a></li>
                <li><a href="/CWstore3050"><span class="glyphicon glyphicon-map-marker"></span> Fargo, ND - South</a></li>
                <li><a href="/CWstore3049"><span class="glyphicon glyphicon-map-marker"></span> Jamestown, ND</a></li>
                 
                  
                 </ul>
            </div>
            <!-- Store locations col 2 ends -->
            <!-- Store locations col 3 -->
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <span style="height:1px;">&nbsp;</span>
              </div>
              <ul class="mdf_child_menu">
              
              <li><a href="/CWstore3043"><span class="glyphicon glyphicon-map-marker"></span> Minot, ND</a></li>
               	<li><a href="/CWstore3047"> <span class="glyphicon glyphicon-map-marker"></span> Stanley, ND</a></li>
				<li><a href="/CWstore3048"><span class="glyphicon glyphicon-map-marker"></span> Tioga, ND</a></li>
                <li><a href="/CWstore3042"><span class="glyphicon glyphicon-map-marker"></span> Watford City, ND</a></li>
                <li><a href="/CWstore3045"><span class="glyphicon glyphicon-map-marker"></span> West Fargo, ND</a></li>
                <li><a href="/CWstore3046"><span class="glyphicon glyphicon-map-marker"></span> Williston, ND</a></li>

              </ul>
            </div>
            <!-- Store locations col 3 ends -->
            <!-- Store locations col 4 -->
            <div class="col-sm-3 col-xs-6">
              <div class="cl-title">
                <div align="left"><span style="height:1px;color: #FFF;font-weight: bold;">Liquor Only&nbsp;</span></div>
              </div>
              <ul class="mdf_child_menu">
              <li><a href="/CWstore7044"><span class="glyphicon glyphicon-map-marker"></span> Alexandria, MN</a></li>
              <li><a href="/CWstore7036"><span class="glyphicon glyphicon-map-marker"></span> Baxter, MN</a></li>
              <li><a href="/CWstore7039"><span class="glyphicon glyphicon-map-marker"></span> Brainerd, MN</a></li>
              <li><a href="/CWstore7042"><span class="glyphicon glyphicon-map-marker"></span> Duluth, MN</a></li>
              <li><a href="/CWstore7043"><span class="glyphicon glyphicon-map-marker"></span> St. Michael, MN</a></li>

              <li><a href="/storelocator"><span class="glyphicon glyphicon-map-marker"></span> View all store locations</a></li>
               </ul>
            </div>
            <!-- Store locations col 4 ends -->

          </div>
        </li>
                <!-----------------------end------------------------>


                 <!-- New For Our Guests -->
                <li class="menu-el"><a><!--<i class="glyphicon glyphicon-list-alt"></i>-->For Our Guests</a>
          <ul class="mdf_child_menu dropdown" data-width="200px" style="display: block; width: 300px;">
           <li><a href="/about-us"><i class="fa fa-smile-o"></i> about us</a></li>

           <!-- <li><a href="/careers"><i class="icon ion-briefcase"></i> careers</a></li> -->
           <li><a href="/cash-wise-cares"><i class="fa fa-heart"></i> cash wise cares</a></li>
           <li><a href="/cash-wise-loves-kids"><i class="fa fa-heart-o"></i> cash wise loves kids</a></li>
           <li><a href="/contact-us"><i class="icon ion-android-textsms"></i> contact us</a></li>
           <li><a href="/coupon-policy"><i class="fa fa-list-alt"></i>
 coupon policy</a></li>
            <li><a href="/events"><i class="fa fa-calendar"></i> events</a></li>
           <li><a href="/get-social"> <i class="icon ion-ios-people"></i> get social</a></li>
           <li><a href="/news-room"><i class="fa fa-microphone"></i> news room</a></li>
          </ul>
        </li>
                 <!-- End New For Our Guests -->
                 <!-- Careers -->
  <li class="menu-el"><a target="_blank" href="http://www.cobornsinc.com/careers">Careers</a>
  </li>
  <!-- End Careers -->
      </ul>
            <!-----------------------end Main menu------------------------>

            <!-----------------------Search------------------------>
             <!-- <ul class="right-nav">
        <li>
           <div class="search-box">
                    <input id="appendUrl" type="text" placeholder="Search CashWise.com">
                    <a id="baseUrl" href="/search?q=" class="search-button"><span style="font-size: 16pt; color: rgb(51, 51, 51); margin-top:5px; padding-left:5px;"><i class="fa fa-search" style="color:#FFFFFF;"></i>
</span></a>
                  </div>
        </li>
      </ul> -->
            <!-----------------------end search------------------------>
    </div>
    </div>
  </nav>
  <!-- /.container-fluid -->
</nav>

<div style="padding-right:0px; padding-left: 0px;" class="container" data-ng-include="currentLayout"></div></div>

<footer>

<div>
<p>

  <div class="footerstorename" style="font-size:12px; padding: 0px 15px 10px 15px;" data-ng-if="gvm.currentStore.StoreId">
    <strong><a href="/CWstore{{gvm.currentStore.StoreNumber}}">{{gvm.currentStore.StoreName}}</a></strong> &bull;
    {{gvm.currentStore.PrimaryAddress}} &bull;
    {{gvm.currentStore.City}}, {{gvm.currentStore.StateName}} {{gvm.currentStore.PostalCode}} <br />
    {{gvm.currentStore.OpenHoursDisplay}}
  </div>
</p>
</div>

  <div class="container">
    <div class="row">

<div class="col-md-4" style="padding-top: 20px;">

      <div class="footernav" style="line-height:0px; font-size:11px; margin-bottom:25px;">

      <table style="text-align:left;" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
      <td rowspan="2"><a target="_self" href="#page-top" class="btn btn-primary btn-default, page-scroll" style="border:none; background-color:transparent; color:#999; position:relative; top: -7px;"><span class="glyphicon glyphicon-circle-arrow-up"></span> </a>
      </td>
      <td class="footerlink" style=" white-space: nowrap;">
       <a target="_self" href="/privacy-policy">Privacy Policy</a> | <a target="_self" href="/site-map">Site Map</a> |


    <a target="_self" class="ng-hide" data-ng-show="isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }" href="javascript:void(0)" data-ng-click="goUrl('/profile')"><i class="fa fa-user"></i> Profile </a> <span class="ng-hide" data-ng-show="isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }">|</span>
    <a target="_self" class="ng-hide" data-ng-show="isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }" href="javascript:void(0)" data-ng-click="logout()">Sign-out</a>
     <!-- ngIf: !isLoggedIn --><a target="_self" class="ng-scope" data-ng-if="!isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }" href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/engine/modal-login.html')" data-show-if="gvm.loginCounter" data-ng-click="showModal()">
    Sign in
  </a><!-- end ngIf: !isLoggedIn -->
 <!-- ngIf: !isLoggedIn --><span class="ng-scope" data-ng-if="!isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }"> | </span><!-- end ngIf: !isLoggedIn -->
  <!-- ngIf: !isLoggedIn --><a target="_self" class="ng-scope" data-ng-if="!isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }" href="javascript:void(0)" data-ng-click="goUrl('/registration')">
    Register
  </a><!-- end ngIf: !isLoggedIn -->
   </td></tr>
   <tr>
   <td class="footerlink">
   <a target="_blank" href="http://www.cobornsinc.com/careers/">Careers</a> |
   <a target="_blank" href="https://employee.cobornsinc.com/Login.aspx">Employee Login</a>
   </td>
   </tr>
   </table>
  </div>

 </div>

  <div class="col-md-4">
        <ul class="list-inline social-buttons">


		  <li><a href="http://celebratemore.com" target="_blank"><i class="fas fa-hashtag"></i></a> </li>
          <li><a href="https://www.facebook.com/CashWise" target="_blank"><i class="fab fa-facebook"></i></a> </li>
          <li><a href="https://www.instagram.com/coborns_stores/" target="_blank"><i class="fab fa-instagram"></i></a> </li>
          <li><a href="https://www.youtube.com/coborns" target="_blank"><i class="fab fa-youtube"></i></a> </li>
          <li><a href="https://www.pinterest.com/CobornsFamilyOfStores/" target="_blank"><i class="fab fa-pinterest"></i></a> </li>
          <li><a href="https://twitter.com/CashWiseFoods" target="_blank"><i class="fab fa-twitter"></i></a> </li>
          
          
          



        </ul>
      </div>

      <div class="col-md-4">
      <span class="copyright">Copyright &copy; <script type="text/javascript">var d = new Date();document.write(d.getFullYear());</script> <a style="border-bottom: none;" href="http://www.cobornsinc.com" target="_blank">Coborn's, Inc</a>, All Rights Reserved.</span> <br />
      <span class="copyright">Powered by <a target="_blank" href="https://www.trybrick.com">Brick, Inc, </a> Patent No <a target="_blank" href="http://patft1.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=7734514.PN.&amp;OS=PN/7734514&amp;RS=PN/7734514"><span class="FooterCopyright">US 7,734,514 B2.</span></a></span></div>
      </div>



    </div>
  </div>
</footer>

<!-------------------Megamenu jQuery--------------------------->
<!--  google maps api call / do not defer it, it will mess up your map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&key=AIzaSyA4_ucLlQ2zMxZGK5Y9G_1bkVU2RqouXkc" type="text/javascript"></script>
<!-- jQuery library -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script><!-- support for plugin that were written for jquery below 1.9 -->
<!--  owl carousel plugin jQuery file -->
<script src="/asset/129/assets/js/owl.carousel.min.js" defer></script>
<!--  gmap3 jQuery plugin -->
<script src="/asset/129/assets/js/gmap3.min.js" defer></script>
<!--  bootstrap plugin -->
<script src="/asset/129/assets/js/bootstrap.min.js" defer></script>
<!--  main plugin jQuery file -->
<script src="/asset/129/assets/js/mdf_js.js" defer></script>
<!--  custom jQuery script that initializes the plugins -->
<script src="/asset/129/assets/js/demo.js" defer></script>
<!------------------------------------------------------------------>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/asset/129/js/classie.js"></script>
<script src="/asset/129/js/cbpAnimatedHeader.js?nocache=1"></script>

<!-- Contact Form JavaScript -->
<script src="/asset/129/js/jqBootstrapValidation.js"></script>
<script src="/asset/129/js/contact_me.js?nocache=1"></script>

<!-- Custom Theme JavaScript -->
<script src="/asset/129/js/Cob.js?nocache=1"></script>

<!--Zozo tabs -->
<script src="/asset/129/js/zozo.tabs.min.js"></script>

 <!-- bricks scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js?nocache=1"></script>
  <script src="https://clientapi-stg.brickinc.net/api/v1/store/sitecontentscript/[chainid]?nocache=1"></script>
  <script src="https://cdn-stg.brickinc.net/script/gmodal/lib/gmodal.min.js?nocache=1"></script>
  <script src="https://cdn-stg.brickinc.net/script/wu/lib/wu.min.js?nocache=1"></script>
  <script src="https://cdn-stg.brickinc.net/script/gsncore/latest/gsncore.min.js?nocache=1"></script>
  <script src="https://clientapi-stg.brickinc.net/api/v1/content/storeapp/[chainid]/?cdnUrl=/asset/129/storeApp.js?nocache=1"></script>

  <!-- angular depencencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-sanitize.min.js"></script><!-- security -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-route.min.js"></script><!-- routing and history -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-animate.min.js"></script><!-- carousel -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-touch.min.js"></script> <!-- touch polyfill for ng-click -->

<!-- search script -->
<script>
$(function() {
    $('#baseUrl').click( function() {
        window.location = $(this).attr('href') + $('#appendUrl').val();
        return false;
    });
});

$("#appendUrl").keyup(function(event){
    if(event.keyCode == 13){
        $("#baseUrl").click();
    }
});

</script>

<!-- end search -->
<!-- Add Search to google listing -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "http://www.coborns.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://www.coborns.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- End Google Search -->

<!-- do not delete these include statements -->
<!--include:style-->
<!--include:script-->
<a id="storeSelectModal" data-gsn-modal="getThemeUrl('/views/engine/modal-select-store.html')" data-show="gvm.showStoreSelectModal" style="display:none" data-hide-on="none" data-ng-init="useBrowserGeo = true"></a>
  <!--begin:analytics-->
  <div data-bs-display-mode="bsDisplayMode"></div>
<!-- since gtag is being loaded above and handled by core, simply log the start date here -->
<script>
if (!window.isPrerender) {
  gtag('js', new Date());
}
</script>
  <!--end:analytics-->

  <!-- Site Search Analytics For AdSense -->
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57521254-7', 'auto');
  ga('send', 'pageview');

</script>
  <!-- End -->

</body>
</html>


